{% extends 'base.twig' %}

{% block content %}

{% if not error %}

<h3 class="sub-menu">{{ translate('Create new password') }}</h3>
<form id="newpassword-form" method="post" action="#">

    {{ csrf_field()|raw }}
    <input type="hidden" name="key" value="{{ key }}">
    
    <label for="password">{{ translate('New password') }}</label>
    <input id="password" type="password" name="password">

    <label for="password_2">{{ translate('Repeat new password') }}</label>
    <input id="password_2" type="password" name="password_2">

    <button id="submit" class="btn btn-primary">{{ translate('Send') }}</button>
    <div class="loadingspinner hidden"></div>
</form>

<script type="module" nonce="{{ get_nonce() }}">
    
    import {Pebble} from '/js/pebble.js?v={{ get_version() }}';
    
    const spinner = document.querySelector('.loadingspinner');

    document.getElementById('submit').addEventListener("click", async function(e) {

        e.preventDefault();

        spinner.classList.toggle('hidden');

        const form = document.getElementById('newpassword-form');
        const data = new FormData(form);

        try {

            const res = await Pebble.asyncPost('/account/post_newpassword', data);
            if (res.error === false) {
                Pebble.redirect(res.redirect);
            } else {
                Pebble.setFlashMessage(res.message, 'error');
            }
        } catch (e) {
            await Pebble.asyncPostError('/error/log', e.stack);
        } finally {
            spinner.classList.toggle('hidden');
        }
    });

</script>
{% endif %}

{% endblock %}
