{% extends 'base.twig' %}

{% block content %}

<h3 class="sub-menu">{{ title }}</h3>

<p>{{ translate('By signing in you agree to the following terms of service, privacy policy, and disclaimer') }}</p>
<div class="action-links">
    <a href="/account/terms/terms-of-service">{{ translate('Terms of service') }}</a>
    <a href="/account/terms/privacy-policy">{{ translate('Privacy policy') }}</a>
    <a href="/account/terms/disclaimer">{{ translate('Disclaimer') }}</a>
</div>

{% if google_auth_url %}
 
<div class="row">
    <p><a href="{{ google_auth_url }}"><img alt="Google Signin" src="/assets/google-signin.png" /></a></p>
</div>

{% endif %}

<form id="login-form">
    
    {{ csrf_field()|raw }}
    
    <label for="email">{{ translate('E-mail') }}</label>
    <input id="email" type="text" name="email">

    <label for="password">{{ translate('Password') }}</label>
    <input id="password" type="password" name="password">

    <label for="keep_login">{{ translate('Keep me signed in') }}</label>
    <input type="checkbox" value="1" id="keep_login" name="keep_login" checked="checked">
        
    <br />
    <button id="login">{{ translate('Send') }}</button>
    <div class="loadingspinner hidden"></div>
</form>

<script type="module" nonce="{{ get_nonce() }}">

    import {Pebble} from '/js/pebble.js?v={{ get_version() }}';
    
    var spinner = document.querySelector('.loadingspinner');

    document.getElementById('login').addEventListener("click", async function(e) {

        e.preventDefault();

        spinner.classList.toggle('hidden');

        const form = document.getElementById('login-form');
        const data = new FormData(form);

        try {
            const res = await Pebble.asyncPost('/account/post_signin', data);
            
            if (res.error === false) {
                Pebble.redirect(res.redirect);
            } else {
                Pebble.setFlashMessage(res.message, 'error');
            }

        } catch (e) {
            await Pebble.asyncPostError('/error/log', e.stack);
        } finally {
            spinner.classList.toggle('hidden');
        }
    });

</script>

{% endblock %}
