<div class="logo">
    <a title="{{ get_config('App.site_name') }}" href="{{ home_url }}">
        <img 
            src="/assets/logo.png?version={{ get_version() }}" 
            alt="{{ get_config('App.site_name') }}" 
            title=" {{ get_config('App.site_name') }}" 
            width="70" height="70"
        >
    </a>
</div>